.ScoreBoard {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &--header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    font-weight: 700;
  }
}
