.Layout {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Header {
  padding: 0px 15px;
  text-align: center;

  &--time {
    font-size: 30px;
    margin: 20px;
  }

  &--moves {
    margin: 20px;
    display: inline-block;
    font-size: 30px;
  }
}

.Footer {
  padding: 20px 15px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
